@font-face{
	font-family:"champagne_limousines";
	src: url("../font/champagne_limousines.ttf");
}
@font-face{
	font-family:"champagne_limousines_bold";
	src: url("../font/champagne_limousines_bold.ttf");
}

/**/
.div-menu{
	width:100%;
}
.div-menu-logo{
	position:absolute;
	top:0;
	left:0;
	z-index:-99;
	opacity: 0.7;
}
.div-menu-image-top{
	position:absolute;
	width:33.3px;
	height:50px;
	top:0;
	right:0;
	z-index:-99;
	opacity: 0.2;
}
.div-menu-image-bottom{
	position:absolute;
	width:118.1px;
	height:176.4px;
	bottom:0;
	right:0;
	z-index:-99;
	opacity: 0.2;
}
.div-menu-title{
	
}
.div-menu-container{
	width: 600px;
	margin-left: auto ;
	margin-right: auto ;
}
.div-menu-item{
	float: left;
	display: inline-block;
	margin: 20px;
	font-size: 1.2em;
	font-family:"champagne_limousines";
	color: gray;
}
.div-menu-item-selected{
	color: olive;
	border-bottom: 1px solid olive;
	font-family:"champagne_limousines_bold";
}
.div-info{
	width: 100%;
	float: left;
	margin-top: 40px;
	font-size: 3em;
	font-family:"champagne_limousines";
	text-align: center;
	color: Tan;
}

form button#btnSend {
	font-size: 0.6em;
	font-family: "champagne_limousines";
	text-shadow: none;
	color: black;
	background: olive;
	border:1px solid #00498a;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

form button#btnSend:hover {
	background: white;
	box-shadow: 0 0 5px 1px rgba(0,110,255,0.55);
	cursor: pointer;
}

form #email {
	width: 290px;
	background-color: #fff;
	border: 1px solid olive;
	color: olive;
	font-size: 0.4em;
	padding: 7px 11px 6px;
	margin-bottom: 15px;
}


