@font-face{
	font-family:"champagne_limousines";
	src: url("../font/champagne_limousines.ttf");
}
@font-face{
	font-family:"champagne_limousines_bold";
	src: url("../font/champagne_limousines_bold.ttf");
}

/**/
.div-menu{
	width:100%;
}
.div-menu-container{
	width: 500px;
	margin-left: auto ;
	margin-right: auto ;
}
.div-menu-image{
	float: left;
	position:absolute;
	top:0;
	left:0;
	z-index:-99;
	opacity: 0.7;
}
.div-menu-item{
	float: left;
	display: inline-block;
	margin: 20px;
	font-size: 1.2em;
	font-family:"champagne_limousines";
	color: gray;
}
.div-menu-item-selected{
	color: olive;
	border-bottom: 1px solid olive;
	font-family:"champagne_limousines_bold";
}
